<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ name }}. {{ title }}</title>
        <link rel="icon" href="favicon.ico" type="icon" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div class="container page">
            <div class="row">
                <div class="col-md-6 col-print-6">
                    <h1><b>{{ name }}</b><br />{{ title }}</h1>
                    <p>
                        <time
                            datetime="{{ buildinfo.date }}"
                            class="text-muted screen"
                            >Letztes Update: {{ updated }}</time
                        >
                    </p>
                    <p>
                        <span class="screen"
                            ><a href="{{ pdfFileName }}"
                                ><i
                                    class="fa fa-file-pdf-o"
                                    aria-hidden="true"
                                ></i
                                >PDF Version herunterladen</a
                            ></span
                        >
                        <span class="print"
                            >Die Online Version befindet sich hier:
                            <a href="{{ baseUrl }}" class="text-nowrap"
                                ><i class="fa fa-github" aria-hidden="true"></i
                                >{{ baseUrl }}</a
                            ></span
                        >
                    </p>

                    <!-- START Skills -->
                    <h3>Technische Skills</h3>
                    <div class="row mb-4">
                        {{#each techskills}}
                        <div
                            class="col-xs col-3 col-md-2 col-lg-1 text-right nowrap col-notprint"
                            styles="margin-right:2px;"
                        >
                            <small>{{ this.[0] }}&nbsp</small>
                        </div>

                        <div
                            class="col-print-1 col-3 col-md-2 col-lg-1 col-notprint"
                        >
                            {{ this.[1] }} <br />
                        </div>
                        {{/each}}
                    </div>

                    <h3>Methodische Skills</h3>
                    <div class="row mb-4 skill-row">
                        {{#each methodskills}}
                        <div
                            class="col-print-2 col-3 col-md-2 col-lg-1 text-right no-wrap"
                            styles="margin-right:2px;"
                        >
                            <small>{{ this.[0] }}</small>
                        </div>
                        <div class="col-print-2 col-3 col-md-2 col-lg-1">
                            {{ this.[1] }}
                        </div>
                        {{/each}}
                    </div>
                    <!-- END Skills -->
                </div>

                <!-- START Facts -->
                <div class="white-space-1 col-md-6 col-print-6">
                    <img src="me.jpg" height="220" width="160" />
                    <dl class="row">
                        {{#each facts}}
                        <dt class="col-md-3">
                            <i class="fa fa-{{ icon }}" aria-hidden="true"></i
                            >&nbsp;{{ @key }}
                        </dt>
                        <dd class="col-md-9">{{{ text }}}</dd>
                        {{/each}}
                    </dl>
                </div>
            </div>
            <!-- END Facts -->

            <!-- START Education -->
            <h2>Bildungsweg</h2>
            {{#each education}}
            <div class="card mb-4">
                <div class="card-body">
                    <h3>{{ title }}</h3>
                    <h4>{{ org }}</h4>
                    <p class="text-muted">{{ datespan }}</p>

                    {{{markdown contents }}}
                    <ul>
                        {{#each details}}
                        <li>{{ this }}</li>
                        {{/each}}
                    </ul>
                    <div>
                        {{#each badges }}
                        <span class="badge badge-primary">{{ this }}</span>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
            <!-- END Education -->

            <!-- Start Miscellaneous -->
            <h2>Sonstige Kenntnisse</h2>
            <div class="card md-4">
                <div class="card-body">
                    <h3>Fremsprachen</h3>
                    {{#each languages}}
                    <p>{{this.[0]}}{{this.[1]}}</p>
                    {{/each}}
                </div>

                <div class="card-body">
                    <h3>Interessen</h3>
                    {{#each hobbys}}
                    <p>{{{this}}}</p>
                    {{/each}}
                </div>
            </div>

            <!-- END Miscellaneous -->

            <div class="white-space-2 print">
                <p>
                    Lahntal,
                    <time datetime="" class="text-muted">{{ today }}</time>
                </p>
                <p><img src="signature.png" widht="150" height="80" /></p>
            </div>

            <!-- START Experience -->

            <h2 class="place-on-next-page">Projekterfahrung</h2>
            {{#each experience}}
            <div class="card mt-4">
                <div class="card-body">
                    <div class="mb-2 h4"><strong>{{ header }}</strong></div>

                    {{{markdown contents }}}

                    <h5>Meine Aufgaben:</h5>
                    <ul>
                        {{#each tasks}}
                        <li>{{ this }}</li>
                        {{/each}}
                    </ul>
                    <h5>Umfang des Projekts</h5>
                    <p>Dauer meines Einsatzes: {{duration}}</p>
                    <ul>
                        {{#each scope}}
                        <li>{{ this }}</li>
                        {{/each}}
                    </ul>
                    <div>
                        {{#each skills }}
                        <span class="badge badge-primary">{{ this }}</span>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}

            <!-- End Experience -->
        </div>
    </body>
</html>
